name: hyphen-poc

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  file_existence:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v1
      - name: Check file existence
        id: check_files
        uses: andstor/file-existence-action@v1
        with:
          files: "build/petstore-expanded.yaml"
      - name: File exists
        if: steps.check_files.outputs.files_exists == 'true'
        run: echo needed file exists!

  build-and-push:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: docker://ghcr.io/kciter/aws-ecr-action:latest
      with:
        access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        account_id: ${{ secrets.AWS_ACCOUNT_ID }}
        repo: hyphen-api-poc
        region: ap-southeast-1
        tags: latest,${{ github.sha }}
        create_repo: true
        set_repo_policy: false
